venv
.idea/
__pycache__/
__pycache__
*.png
*.mp4
*.webp
*.jpg
*.txt
*.bmp
test*
rsa_keys/
blum_goldwasser_keys/
blum_goldwasser_results/
encrypted_images/
decrypted_images/
frames/
frames_*/
*.avi
*.enc
app_settings.json
!requirements.txt